apiVersion: apps/v1
kind: Deployment
metadata:
  name: nauth-api
  labels:
    app: nauth-api
spec:
    replicas: 1
    selector:
      matchLabels:
        app: nauth-api
    template:
      metadata:
        labels:
          app: nauth-api
      spec:
        containers:
          - name: nauth-api
            image: <your-registry>/nauth-api:latest
            imagePullPolicy: IfNotPresent
            ports:
              - containerPort: 443
                name: https
            env:
              - name: ASPNETCORE_ENVIRONMENT
                value: "Docker"
            readinessProbe:
              httpGet:
                path: /
                port: https
                scheme: HTTPS
              initialDelaySeconds: 30
              periodSeconds: 10
            livenessProbe:
              httpGet:
                path: /
                port: https
                scheme: HTTPS
              initialDelaySeconds: 60
              periodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: nauth-api
  labels:
    app: nauth-api
spec:
  type: ClusterIP
  selector:
    app: nauth-api
  ports:
    - name: https
      port: 443
      targetPort: https
